@mixin flex($ff, $jc, $ai)
{
    display: flex;
    flex-flow: $ff;
    justify-content: $jc;
    align-items: $ai;
}

@mixin grid($columns, $gap)
{
    display: grid;
    grid-template-columns: $columns;
    grid-gap: $gap;
}

@media all and (max-width: 850px)
{
    section.constructor
    {
        @include grid(1fr, 20px);
    }
}

@media all and (max-width: 673px) {
    main {
        padding-top: 0;
    }

    section.constructor
    {
        margin-top: 0;
    }

    header > a
    {
        display: none;
    }

    header {
        border-bottom: none;

        img.header__logo
        {
            display: none;
        }

        nav 
        {
            flex-flow: column nowrap;
            justify-content: flex-start;

            margin-right: unset;
            padding: 10px 10px 10px 50px;

            position: absolute;
            top: 0px;
            left: -200px;
            height: 100vh;

            background: #fff;

            img {
                display: block;
            }

            .menu__item
            {
                margin-right: 0;
                margin-top: 10px;
            }
        }
    }
    button#toggleMenu
        {
            display: block;
            
        }
}

@media all and (max-width: 340px) {
    header {
        img {
            width: 100px;
        }

        // nav
        // {
        //     @include flex(column nowrap, flex-start, center);
    
        //     div.menu__item {
        //         margin-right: unset;
        //     }
        // }
    }
}