@import './base.scss';
@import './mixins.scss';
@import './header.scss';
@import './preview.scss';
@import './customize.scss';
@import './about.scss';

main {
    position: relative;

    padding-top: 140px;
}

div.messages {
    @include flex(column nowrap, flex-start, center);

    position: absolute;
    z-index: 11;

    top: 0;
    // left: 0;
    right: 0;

    // display: none;
    min-width: 0px;
    // height: 30px;

    border: 1px solid silver;
    border-radius: 0.6rem;

    background-color: #fff;
    transition: min-width .3s;

    span.close
    {
        position: absolute;
        right: 3px;
        top: 3px;
        
        &:hover {
            cursor: pointer;
        }
    }

    div.message {
        @include flex(row nowrap, flex-start, center);
        margin-bottom: 10px;

        background-color: rgba(255, 174, 0, .4);
        padding: 5px 15px 5px 5px;
        border-radius: 0.3rem;

        p {
            margin-left: 10px;
            max-width: 170px;
        }
    }
    
}

section.constructor
{
    @include grid(1fr 1fr, 20px);
}

div.selectVehicle
{
    margin-top: 10px;
    @include flex(column nowrap, flex-start, flex-start);

    label
    {
        font-family: 'Roboto Condensed', sans-serif;
        margin-bottom: 5px;
    }

    input
    {
        width: 100%;
        padding: 3px;
        text-indent: 5px;

        font-size: 16px;
        font-weight: bold;
    }
}

div.comment
{
    margin-top: 20px;

    @include flex(column nowrap, flex-start, flex-start);

    textarea.comment
    {
        width: 100%;
        min-width: 200px;
        min-height: 100px;
        max-height: 250px;

        margin-top: 10px;

        resize: vertical;

        text-indent: 10px;
        padding: 5px;
    }
}