* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	heigh: 100%;
}

input {
	display: none;
}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	background: linear-gradient(to top, #fefcea, #f1da36);
	padding: 20px 40px;
}

nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

img.logo_img {				/*Класс, привязанный к логотипам вк и handmade*/
	width: 100px;
	border: 2px solid black;
}

a.logo_a {					/*Класс, привязанный к ссылкам внутри логотипов вк и handmade*/
	display: block;	
}

content {					/*Класс-контейнер для формы на странице*/
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-content: flex-start;
}

img.seat_type_logo { 		/*Класс, привязанный к изображениям типа покрытия, цвета и т.д.*/
	width: 100px;
	transition: all .4s;
}

form.types {				/*Класс для главной формы на странице*/
	background: linear-gradient(to bottom, #C5FF7A, #8FD13A);
	padding: 1.5% 4%;
}

section.motocycle_type_select {		/*Класс, привязанный к секцции выбора мотика и типа покрытия сиденья*/
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	justify-content: center;
}

select {					/*Класс, привязанный к выбору мотика*/
	border-top: 3px solid #00F3FF;
	border-left: 3px solid #FF00F7;
	border-bottom: 3px solid #00FF6C;
	border-right: 3px solid #B900FF;
	width: 200px;
}

section.seat_color_select {		/*Класс, привязанный к выбору цвета покрытия*/
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	padding: 4.5% 0;
}

label.seat_color {
	transition: all .4s;
}

.seat_type_logo:hover, .seat_color:hover {
	width: 150px;
	cursor: pointer;
	transition: all .4s;
}